<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a707446.dominospizza">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dominos_icone"
        android:label="@string/app_name"

        android:roundIcon="@mipmap/dominos_icone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="com.example.a707446.dominospizza.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>